@using BLRMIS.Web.Domain.Models
@using System.Linq
@{
    List<MenuItem> MenuItems = new List<MenuItem> {
new MenuItem {  Id = "USER_MANAGEMENT",     Name = "User Management",           Route = "/Users",                   Icon="user-managment-icon" },
new MenuItem {  Id = "ROLE_MANAGEMENT",     Name = "Role Management",           Route = "/Role/Role",               Icon="role-management-icon" },
new MenuItem {  Id = "CATEGORY_MANAGEMENT", Name = "Category Management",       Route = "/category/category",       Icon="categories-icon" },
new MenuItem {  Id = "DEPARTMENT_MANAGEMENT", Name = "Department Management",   Route = "/department/department",   Icon="deparment-icon" },
new MenuItem {  Id = "DESIGNATION_MANAGEMENT", Name = "Designation Management", Route = "/designation/designation", Icon="designation-icon" },
new MenuItem {  Id = "DIGITIZATION_PROGRESS_MANAGEMENT", Name = "Digitization Management", Route = "/digitizationProgress/digitizationProgress", Icon="designation-icon" },
new MenuItem {  Id = "CONTENT_MANAGEMENT",  Name = "Content Management",        Route = "/",                        Icon="cms-icon",
SubItems = new List<MenuItem>{
new MenuItem{   Id = "FAQ_MANAGEMENT",      Name = "FAQs Management",            Route = "/Faq/Index",           Icon="" },
new MenuItem{   Id = "DOWNLOAD_MANAGEMENT", Name = "Download Management",       Route = "/download/Index",      Icon=""},
new MenuItem{   Id = "CONTENT_MANAGEMENT",  Name = "Content Pages",             Route = "/WebContent/Content",  Icon="cms-icon"},
new MenuItem{   Id = "NEWS_MANAGEMENT",     Name = "News Management",           Route = "/News/Index",          Icon=""}}},
new MenuItem {  Id = "COMPLAINT_MANAGEMENT",Name = "Complaint Management",      Route = "/" ,                   Icon="complaints-icon",
SubItems = new List<MenuItem>{
new MenuItem{   Id = "COMPLAINT_ADMIN",     Name = "Complaints (Admin)",        Route = "/Complaint/AdminComplaintListing",             Icon="complaints-icon",
DetailMenuItemName = "admincomplaintdetails"},
new MenuItem{   Id = "COMPLAINT_REVIWER",   Name = "Complaints (Reviewer)",     Route = "/Complaint/ReviewerComplaintListing",          Icon="complaints-icon",
DetailMenuItemName = "reviewercomplaintdetails"},
new MenuItem{   Id = "COMPLAINT_RESOLVER",  Name = "Complaint (Resolver)",      Route = "/complaint/ResolverComplaintListing",          Icon="complaints-icon",
DetailMenuItemName = "resolvercomplaintdetails"},
new MenuItem{   Id = "COMPLAINT_SR_REVIWER",Name = "Complaints (Sr. Reviewer)", Route = "/Complaint/SeniorReviewerComplaintListing",    Icon="complaints-icon",
DetailMenuItemName = "seniorreviewercomplaintdetails"} }}
};
}

<div class="dashboard-holder">
    <aside class="sider-menu" id="side-menu">
        @if (User.Identity.IsAuthenticated)
        {
            <ul id="accordion" class="navigation mainmenu">
                <!-- Static menu item-->
                <li>
                    <a asp-page="/dashboard">
                        <span class="dashboard-icon">
                            <img src="~/images/dashboard-icon.svg" alt="">
                        </span>
                        <strong>Dasbboard</strong>
                    </a>
                </li>
                <!-- End static menu item-->
                @foreach (var item in MenuItems)
                {
                    var MenuItem =
                        User.Claims.Any(i => i.Value == item.Id)
                        || (item.SubItems != null && item.SubItems.Any(i => User.Claims.Select(c => c.Value).Contains(i.Id)));

                    var findSubItems = item.SubItems != null ? item.SubItems.Where(i => User.Claims.Any(h => h.Value == i.Id)) : null;
                    var subItemsLength =
                        findSubItems != null ?
                        findSubItems.Count() :
                        0;
                    var hasMoreThanOneItemsInSubMenu = (subItemsLength > 1);
                    var hasOnlyOneItemInSubMenu = (subItemsLength == 1);
                    var findFirstElementOfSubMenu = findSubItems?.FirstOrDefault();

                    if (MenuItem)
                    {
                        <li class="@(hasMoreThanOneItemsInSubMenu?"grow":"")">

                            @if (hasOnlyOneItemInSubMenu)
                            {
                                // If only one item is exists in subitem list, display this item as parent item.
                                var subItem = findFirstElementOfSubMenu;
                                var setParentIconIfSubMenuIconNotFound = string.IsNullOrWhiteSpace(subItem.Icon) ? item.Icon : "";
                                <a asp-page="@subItem.Route">
                                    <span class="@setParentIconIfSubMenuIconNotFound">
                                        <img src="~/images/@(setParentIconIfSubMenuIconNotFound).svg" alt="">
                                    </span>
                                    <strong>@subItem.Name</strong>
                                </a>
                            }
                            else
                            {
                                // this case will be happen if there is no subitems
                                <a asp-page="@item.Route">
                                    <span class="@item.Icon">
                                        <img src="~/images/@(item.Icon).svg" alt="">
                                    </span>
                                    <strong>@item.Name</strong>
                                </a>
                            }

                            @if (hasMoreThanOneItemsInSubMenu)
                            {
                                // this case will be happen if more than 1 item in subitem list, and display parent child menu.
                                <ul class="subnav-menu">
                                    @foreach (var subItem in item.SubItems)
                                    {
                                        var HasInClaim = User.Claims.Any(i => i.Value == subItem.Id);
                                        if (HasInClaim)
                                        {
                                            <li>
                                                <a asp-page="@subItem.Route"
                                                   class="@(!string.IsNullOrEmpty(subItem.DetailMenuItemName) ? subItem.DetailMenuItemName : "")">@subItem.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        </li>
                    }

                }

            </ul>

        }
        @*<ul id="accordion" class="navigation mainmenu" data-bind="foreach:menuItems">
                <li data-bind="class: (SubMenu != null && SubMenu.length > 0)?'grow':''">
                    <a data-bind="attr:{href:Value}">
                        <span class="complaints-icon">
                            <img src="~/images/complaints-icon.svg" alt="">
                        </span>
                        <strong data-bind="text:Text"></strong>
                    </a>
                    <ul style="display:none" class="subnav-menu" data-bind="visible:(SubMenu != null && SubMenu.length > 0), foreach:SubMenu">
                        <li > <a data-bind="attr:{href:Value}, text:Text" >  </a></li>
                    </ul>
                </li>
            </ul>*@
        @*<ul id="accordion" class="navigation mainmenu">
                <li><a href="javascript:"><span class="dashboard-icon"><img src="~/images/dashboard-icon.svg" alt=""></span> <strong>Dashboard</strong></a></li>
                <li><a asp-page="/Complaint/AdminComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Admin)</strong></a></li>
                <li><a asp-page="/Complaint/ReviewerComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Reviewer)</strong></a></li>
                <li><a asp-page="/Complaint/ResolverComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Resolver)</strong></a></li>
                <li><a asp-page="/Complaint/SeniorReviewerComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Snr. Reviewer)</strong></a></li>
                <li><a asp-page="/Users"><span class="user-managment-icon"><img src="~/images/user-managment-icon.svg" alt=""></span><strong>User Managment</strong></a></li>
                <li><a asp-page="/Role/Role"><span class="role-managment-icon"><img src="~/images/role-management-icon.svg" alt=""></span><strong>Role Management</strong></a></li>
                <li><a asp-page="/category/category"><span class="categories-icon"><img src="~/images/categories-icon.svg" alt=""></span><strong>Categories</strong></a></li>
                <li><a asp-page="/department/department"><span class="deparment-icon"><img src="~/images/deparment-icon.svg" alt=""></span><strong>Departments</strong></a></li>
            </ul>*@
        @*<ul id="accordion" class="navigation mainmenu">
                <li><a href="javascript:"><span class="dashboard-icon"><img src="~/images/dashboard-icon.svg" alt=""></span> <strong>Dashboard</strong></a></li>
                <li><a asp-page="/Complaint/AdminComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Admin)</strong></a></li>
                <li><a asp-page="/Complaint/ReviewerComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Reviewer)</strong></a></li>
                <li><a asp-page="/Complaint/ResolverComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Resolver)</strong></a></li>
                <li><a asp-page="/Complaint/SeniorReviewerComplaintListing"><span class="complaints-icon"> <img src="~/images/complaints-icon.svg" alt=""></span><strong>Complaints (Snr. Reviewer)</strong></a></li>
                <li><a asp-page="/Users"><span class="user-managment-icon"><img src="~/images/user-managment-icon.svg" alt=""></span><strong>User Managment</strong></a></li>
                <li><a asp-page="/Role/Role"><span class="role-managment-icon"><img src="~/images/role-management-icon.svg" alt=""></span><strong>Role Management</strong></a></li>
                <li><a asp-page="/category/category"><span class="categories-icon"><img src="~/images/categories-icon.svg" alt=""></span><strong>Categories</strong></a></li>
                <li><a asp-page="/department/department"><span class="deparment-icon"><img src="~/images/deparment-icon.svg" alt=""></span><strong>Departments</strong></a></li>
                <li><a asp-page="/designation/designation"><span class="designation-icon"><img src="~/images/designation-icon.svg" alt=""></span><strong>Designations</strong></a></li>
                <li class="grow">
                    <a href="javascript:">
                        <span class="cms-icon">
                            <img src="~/images/cms-icon.svg">
                        </span>
                        <strong>Content Managment </strong>
                    </a>
                    <ul class="subnav-menu">
                        <li> <a asp-page="/WebContent/Content"> Content Pages </a></li>
                        <li> <a asp-page="/News/Index"> News Management </a></li>
                        <li> <a asp-page="/Faq/Index"> FAQ Management </a></li>
                        <li> <a asp-page="/download/Index"> Download Management </a></li>
                    </ul>
                </li>
                <li>
                    <ul data-bind="foreach:menuItems">
                        <li data-bind="text:Text"></li>
                    </ul>
                </li>
            </ul>*@
    </aside>
</div>

